* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gotham-Medium","Helvetica Neue",sans-serif;
}

#navbar {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: black;
    color: white;
    padding: 0px 150px 0px 150px;
}

.nav-logo { 
    display: flex;
    padding-right: 1000px;
    padding-left: 0px;
    padding-top: 50px;
}

.nav-logo:hover{
    text-decoration: none;
}

.nav-list{
    display: flex;
    padding: 30px;
    padding-top: 50px;
}

ul{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
    padding: 2rem;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}

#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: white;
    background: black;
}

h1{
    font-size: 70px;
    line-height: 1;
}

p{
    font-size: 30px;
}

/*SECTION PROJECTS*/

#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke
}

#projects > h2{
    padding-top: 100px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid black;
    font-size: 50px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 100px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 200px 0px 200px;
    margin-bottom: 8rem;
}

.projects-grid > a:hover{
    text-decoration: none;
}


.project-image {
    height: calc(100% - 0rem);
    width: 100%;
    object-fit: cover;
}


img {
    display: block;
    width: 100%;
}

.project-tile{
    color: white;
}

.project-title{
    background-color: black;
    font-size: 15px;
    text-align: center;
    padding: 20px 0px 20px 0px;
    border-radius: 2px;
}

#profile-link{
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#profile-link:hover{
    background-color: red;
}

/*SECTION CONTACT*/

#contact{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black;
    color: white;
    justify-content: center;
}








@media only screen and (max-width: 815px){
    #navbar {
        background-color: black;
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        z-index: 1;
}}











/*font-family: "Gotham-Book","Helvetica Neue",sans-serif;
line-height: 1.2;
font-size: 16px;
color: #373737;
font-family: "Gotham-Medium","Helvetica Neue",sans-serif;
*/