* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gotham-Medium","Helvetica Neue",sans-serif;
}

#navbar {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: black;
    color: white;
    padding: 0px 150px 0px 150px;
}

.nav-logo { 
    display: flex;
    padding-right: 1000px;
    padding-left: 0px;
    padding-top: 50px;
}

.nav-logo:hover{
    text-decoration: none;
}

.nav-list{
    display: flex;
    padding: 30px;
    padding-top: 50px;
}

ul{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
    padding: 2rem;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}

#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: white;
    background: black;
}

h1{
    font-size: 70px;
    line-height: 1;
}

p{
    font-size: 30px;
}

/*SECTION PROJECTS*/

#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke
}

#projects > h2{
    padding-top: 100px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid black;
    font-size: 50px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 100px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 200px 0px 200px;
    margin-bottom: 8rem;
}

.projects-grid > a:hover{
    text-decoration: none;
}


.project-image {
    height: calc(100% - 0rem);
    width: 100%;
    object-fit: cover;
}


img {
    display: block;
    width: 100%;
}

.project-tile{
    color: white;
}

.project-title{
    background-color: black;
    font-size: 15px;
    text-align: center;
    padding: 20px 0px 20px 0px;
    border-radius: 2px;
}

#profile-link{
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#profile-link:hover{
    background-color: red;
}

/*SECTION CONTACT*/

#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0 2rem;
    height: 80vh;
    color: white;
    background-color: black;
}

.contact-header > h2{
    font-size: 70px;
}

.contact-header > p{
    font-size: 20px;
}

.contact-links{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.email{
    background-color: red;
    font-size: 20px;
    border-radius: 10px;
    width: 100%;
    display: inline-block;
    padding: 5px 5px 5px 5px;
}

/*END*/
footer{
    height: 10vh;
    background-color: gray;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    color: white;
}


@media only screen and (max-width: 768px){
    body{
        width: 100%;
    }

    #navbar {
        display: flex block;
        background-color: black;
        width: 100%;
        position: absolute;
        max-height: 0px;
        border: none;
    }

    .nav-logo { 
        display: flex;
        width: 0%;
    }

    .nav-list{
        display: flex;
        padding-top: 170px;
        margin: 0px;
        justify-content: center;
        width: 0%;
    }

    a{
        padding: 1rem;
        text-decoration: none;
    }

    ul li{
        list-style: none;
        text-decoration: none;
    }


    #welcome-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100vh;
        color: white;
        background: black;
    }


    #projects{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: whitesmoke
    }

    #projects > h2{
        padding-top: 30px;
        text-align: center;
        margin: 0 auto 6rem auto;
        border-bottom: 0.2rem solid black;
        font-size: 50px;
    }
    
    .project-tile {
        width: 100%;
        display: block;
        padding-bottom: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0px 0px;
        
    }

    .projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        grid-gap: 50px;
        width: 100%;
        margin: 0 auto;
        padding: 0px 20px 0px 20px;
        margin-bottom: 5rem;
    }

    #profile-link{
        background-color: black; /* Green */
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-bottom: 8rem;
        cursor: pointer;
        border-radius: 5px;
    }
    
    #profile-link:hover{
        background-color: red;
    }

    footer{
        height: 15vh;
        background-color: gray;
        text-align: center;
        padding: 30px;
        font-size: 20px;
        color: white;
    }

}






